.projects{
  display: grid;
  background-color: $color-background;
  width: 100%;
  min-height: 100vh;
  grid-template: 1fr repeat(6, 15vh)  100px 1fr/ 10px 1fr 1fr 10px;
  gap: 10px;
  
  &__title{
    grid-area: 2/2/3/4;
    text-align: center;
    align-self: center;
    h2{
      @include font-size(46px);
      @include font-family-primary;
    }
    p{
      @include font-size(20px);
      @include font-family-secondary;
    }
  }
  &__web{
    grid-area: 3/2/6/4;
    border-radius: 20px;
  }
  &__web:hover {
    
  }
  &__design{
    grid-area: 6/2/9/3;
    border-radius: 20px;
  }
  &__mobile{
    grid-area: 6/3/9/4;
    border-radius: 20px;
  }
  &-category{
    display: grid;
    place-content: center;
    background-color: $color-secondary;
    transition: 0.5s;
    @include font-size(24px);
    @include font-family-secondary;
    svg{
      justify-self: center;
      margin-bottom: 0.2em;
    }
    h4{
      text-align: center;
    }
  }
  &-category:hover{
    background-color: $color-primary;
  }
}
