.projects{
  display: grid;
  background-image: url('../assets/images/desktop/low-poly-desktop.svg');
  width: 100%;
  min-height: 100vh;
  grid-template: 50px 150px repeat(3, 40vh) 1fr/ 1em 1fr 1em;
  row-gap: 1.5em;

  img{
    grid-area: 1/1/2/4;
    width: 100%;
    height: 100px;
  }
  &__title{
    grid-area: 2/2/3/3;
    text-align: center;
    align-self: center;
    h2{
      @include font-size(52px);
      @include font-family-primary;
    }
    p{
      @include font-size(30px);
      @include font-family-secondary;
    }

  }
  &__Web{
    grid-area: 3/2/4/3;
  }
  &__Design{
    grid-area: 4/2/5/3;
  }
  &__Mobile{
    grid-area: 5/2/6/3;
  }
  &-category{
      display: grid;
      border-radius: 20px;
      grid-template: 100%/100%;
      place-content: center;
      overflow: hidden;
      transition: 0.5s;
      box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
      @include font-size(22px);
      @include font-family-secondary;
      img{
        min-width: 100%;
        max-width: 120%;
        height: auto;
        grid-area: 1/1/2/2;
        object-position: center;
        object-fit:fill;
      }
      &__button{
        width: fit-content;
        align-self: end;
        padding: 5px 20px;
        border: 0;
        border-radius: 10px;
        margin: 20px 10px 0px 0px;
        background-color: $color-primary;
        transition: 0.2s;
        cursor: pointer;
        @include font-size(26px);
        @include font-family-primary;
      }
      &__button:active{
        background-color: $color-secondary;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75) inset;
      }
    }
  &-category:hover .projects__info--hidden{
    display: flex;
    visibility: visible;
    clip-path: circle(150% at top center);
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/2;
    background-color: rgba(0, 0, 0, 0.5);
    svg{
      justify-self: center;
      margin-bottom: 0.2em;
    }
    h4{
      text-align: center;
    }
    &--hidden{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      justify-content: center;
      padding: 0px 20px;
      grid-area: 1/1/2/2;
      background-color: rgba(0, 0, 0, 0.9);
      clip-path: circle(0 at center center);
      transition: clip-path 0.5s;
      h4{
        padding: 20px 0px;
        text-align: center;
        @include font-size(32px)
      }
    }
  }
}

@media (min-width: 600px) {
  .projects{
    grid-template: 50px 200px repeat(2, 33vh) 100px/ 1fr 4fr 4fr 4fr 4fr 1fr;
    column-gap: 25px;
    img{
      grid-area: 1/1/2/7;
    }
    &__title{
      grid-area: 2/2/3/6;
      h2{
        @include font-size(72px);
      }
      p{
        @include font-size(40px);
      }

    }
    &__Web{
      grid-area: 3/2/4/4;
    }
    &__Design{
      grid-area: 3/4/4/6;
    }
    &__Mobile{
      grid-area: 4/3/4/5;
    }
    &__info{
      svg{
        justify-self: center;
        margin-bottom: 0.2em;
      }
      h4{
        text-align: center;
      }
    }
  }
}
@media (min-width: 768px) {
  .projects{
    grid-template: 50px 200px repeat(3, 33vh)  200px 1fr/ 1fr 3fr 3fr 3fr 3fr 1fr;
    column-gap: 25px;
    img{
      grid-area: 1/1/2/7;
    }
    &__title{
      grid-area: 2/2/3/6;
      h2{
        @include font-size(72px);
      }
      p{
        @include font-size(40px);
      }

    }
    &__Web{
      grid-area: 3/2/4/4;
    }
    &__Design{
      grid-area: 3/4/4/6;
    }
    &__Mobile{
      grid-area: 4/3/4/5;
    }
    &__info{
      svg{
        justify-self: center;
        margin-bottom: 0.2em;
      }
      h4{
        text-align: center;
      }
    }
  }
}
@media (min-width: 992px) {
  .projects{
    grid-template: 50px 200px 40vh 1fr/ 1fr 3fr 3fr 3fr 1fr;
    column-gap: 25px;
    img{
      grid-area: 1/1/2/6;
    }
    &__title{
      grid-area: 2/2/3/5;
      h2{
        @include font-size(62px);
      }
      p{
        @include font-size(30px);
      }

    }
    &__Web{
      grid-area: 3/2/4/3;
    }
    &__Design{
      grid-area: 3/3/4/4;
    }
    &__Mobile{
      grid-area: 3/4/4/5;
    }
    &__info{
      svg{
        justify-self: center;
        margin-bottom: 0.2em;
      }
      h4{
        text-align: center;
      }
    }
  }
}
@media (min-width: 1200px) {
  .projects{
    grid-template: 50px 200px 40vh 1fr/ 1fr 3fr 3fr 3fr 1fr;
    column-gap: 25px;
    img{
      grid-area: 1/1/2/6;
    }
    &__title{
      grid-area: 2/2/3/5;
      h2{
        @include font-size(62px);
      }
      p{
        @include font-size(30px);
      }

    }
    &__Web{
      grid-area: 3/2/4/3;
    }
    &__Design{
      grid-area: 3/3/4/4;
    }
    &__Mobile{
      grid-area: 3/4/4/5;
    }
    &__info{
      svg{
        justify-self: center;
        margin-bottom: 0.2em;
      }
      h4{
        text-align: center;
      }
    }
  }
}
